{% block banner %}

<main class="main main-grid">
  <div class="hero">
    <img src="https://getpublii.com/themes/demo/starter/media/website/hero.png" srcset="https://getpublii.com/themes/demo/starter/media/website/responsive/hero-xs.png 300w, https://getpublii.com/themes/demo/starter/media/website/responsive/hero-sm.png 480w, https://getpublii.com/themes/demo/starter/media/website/responsive/hero-md.png 768w, https://getpublii.com/themes/demo/starter/media/website/responsive/hero-lg.png 1024w"
      sizes="(max-width: 1024px) 100vw, 1024px" alt="Sample alt text" title="Sample image title" class="hero__image">
  </div>
</main>
<div class="conteudo">
  <h1>Olá eu sou Texto</h1>
  <a class="btn" href="#">read more</a>
</div>
<section class="second-section">
  <h2>Secund section sit amet consectetur adipisicing elit. Assumenda reiciendis debitis vel exercitationem fugiat, molestias
    ex repellat quibusdam dicta explicabo sit ratione, commodi facere labore animi cum placeat officia nostrum. </h2>
</section>

{% endblock %}
