<!DOCTYPE html>
<html lang="pt-br">
<head>
  <!--  Basic metas -->
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Dâmocles Boilerplate</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable = no">
  <!-- Fonte Web -->
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <link rel="shortcut icon" href="assets/images/favicon.ico">
  <!-- CSS -->
  <link rel="stylesheet" href="assets/css/main.css">
</head>

<body class="grid">

  {% include "includes/header.html" %} {% block content %}{% endblock %} {% include "includes/footer.html" %}

  <!-- JavaScript -->
  <script src="assets/js/scripts.js"></script>
</body>
</html>
