@import url(https://fonts.googleapis.com/css?family=Raleway:400)

@import 'base/**'
@import 'components/**'
@import 'utils/**'
@import 'vendors/**'

body
  background: url('../../assets/images/jiren.png') no-repeat center center fixed
  z-index: -1
  width: 100%
  background-size: cover

h2
 centerer()
 font $font-big sans-serif;
